#cont-center{
  background-image: url("img/fondo.jpg");
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
body{
  background-image: url("img/fondo.jpg");
}
img{
  margin: 15px 0 0 3% ;
}
#move-right{
  margin-right: 5%;
}
li{
  display: inline;
}
